.EA-handle {left: 0px;right:inherit;}
#EA-panel {left: 10px;right:inherit;}
#EA-menu-edit-all ul.EA-menus-parts ul.EA-menus-parts{padding-right:28px;padding-left:28px;}
.EA-screen-text {padding-right: 10px;padding-left:0;}
.EA-menu-part-data-wrp >div {float: right;}
.EA-menu-part-menu-data-wrp.clearfix >div,.EA-menu-part-extra>div{float:left;margin-left: 10px;margin-right:0px;}
.EA-node-statuses-part,.EA-link-statuses-part {margin-right:0;margin-left: 3px;}
.EA-menu-part-extra {background: url(images/edit_bg_sprite.png)right 12px no-repeat lightblue;padding-right:60px;padding-left: 0;}
.EA-menu-part-menu-data-wrp {background: url(images/edit_bg_sprite.png)right -113px no-repeat lightblue;padding-right:60px;padding-left: 0;position: relative;}
.EA-node.EA-node-c {float:left;}
.EA-node.EA-node-author {margin-right: 10px;margin-left: 0;}
admin-menu-part-link-path {float: right;}
.EA-menu-part-link-path {float: right;}
.EA-menu-part .EA-handle {float: right;margin-left: 10px;margin-right: 0;}
.EA-handles-wrp.clearfix {float: right;}
.EA-panel-arrow {right: -31px;left: inherit;border-top-left-radius: 0px;border-bottom-left-radius: 0;
border-top-right-radius: 7px;border-bottom-right-radius: 7px;}
.EA-panel-arrow-out,.EA-panel-arrow-in {float:right;background: url(images/panel_out.png);}
.EA-panel-arrow-out {background: url(images/panel_in.png);}
.icon{font-size:20px;margin-left: 10px;margin-right: 0;}
.EA-menu-part .EA-handle.icon-minus-sign-alt {padding-right: 2px;padding-left: 0;}
.EA-action-bar {right: 0px;left:inherit;}
.EA-panel-placeholder{margin-left:0px;margin-right:40px;}
.EA-save-all {left: 20px;right:inherit;}
.EA-comment .EA-action-bar {
left: 5px;
right: inherit;
}
.EA-panel-bottom-button .EA-icon {
padding-right: 7px;
}
.EA-panel-bottom-button .EA-icon {
padding-left: 0px;
}