.ui-dialog{z-index:1010}
.EA-handle {
height: 20px;
width: 20px;
background-color: lightgrey;
z-index: 3;
position: absolute;
border-radius: 3px;
background-image: url(/misc/ui/images/ui-icons_2e83ff_256x240.png);
background-position: 2px -79px;
right: 0px;
top:0px;
opacity: 0.3;
cursor:pointer;
}
.ui-sortable-disabled .handle {
	display:none;
	}
.EA-handle:hover {
	opacity:1;
	}
.EA-big {
position: relative;
}
#EA-panel {
position: fixed;
top: 100px;
right: 10px;
/*border: lightgray outset;*/
padding: 2px;
border-radius: 5px;
background-color: gray;
z-index: 1011;
}
#EA-panel:hover {
	opacity: 1;
	}
#EA-panel-inner {
width: 233px;
height: 164px;
/*border: 1px black solid;*/
padding: 2px 0px 0px 2px;
}
.EA-placeholder {
border: dotted 1px;
background: lightgoldenrodyellow;
opacity: 0.45;
min-height:18px;
min-width:50px;
}
.EA-panel-helper{
	height:70px;
	width:200px;
	}
.EA-panel-placeholder.mjs-nestedSortable-error{background:red;opacity:1;}
.EA-hidden {
display: none;
}
#EA-panel-inner .EA-screen {
width: 228px;
height: 156px;
background: white;
border-radius: 17px;
border: 2px outset grey;
overflow: hidden;
}
.EA-screen-text {
/*height: 60px;*/
margin-top: 5px;
padding-left: 10px;
overflow:hidden;
}
.EA-screen-text:hover {
	overflow:hidden;
	}
.EA-text-part {
width: 208px;
}
.EA-text-part .EA-title {
text-decoration: underline;
cursor:pointer;
}
.EA-description{
display:none;
}
.EA-text-part.EA-message {
color: green;
}
.EA-text-part.EA-warning {
color: red;
}
.EA-menu-part-data-wrp >div {
float: left;
}
#EA-menu-edit-all .EA-menu-edit ul,#EA-menu-edit-all .EA-menu-edit li{list-style:none;}
.EA-menu-part-menu-data-wrp.clearfix >div,.EA-menu-part-extra>div{
float:right;
margin-right: 10px;
}
.EA-menu-part-data-wrp .EA-menu-part-separator {
text-align: center;
font-weight: lighter;
min-width: 64px;
background-color: lightsalmon;
min-height: 81px;
border: white solid;
border-width: 3px 5px;
display:table;
}
.EA-menu-part-data-wrp .EA-menu-part-separator.icon-link{
	display:block;
	padding-top: 23px;
	min-height: 58px;
	font-size: 30px;
	}
.EA-link-text {
display: table-cell;
vertical-align: middle;
padding: 0px 5px;
font-size: 14px;
}
#EA-menu-edit-all ul {
margin-top: 0px;
margin-bottom: 0px;
}
.EA-menu-part{margin-top:10px}
.EA-menu-part h3 {
margin: 0;
}
.EA-menu-part-menu-data-wrp,.EA-menu-part-extra{
/*	border-radius: 10px;
	border: 2px dashed;*/
	padding: 10px;
	}
.EA-menu-edit > .EA-menus-parts >.EA-menu-part {
margin-top: 5px;
}
.EA-menu-part-external >.EA-menu-part-data-wrp .EA-menu-part-menu-data-wrp {
background-color: lightcoral;
}
.EA-menu-part-hidden,.EA-menu-part-not-expanded >ul{opacity:0.3}
.EA-menu-part-hidden:hover,.EA-menu-part-not-expanded ul:hover{opacity:1}
.EA-node-toggle{cursor: pointer;}
.EA-node-statuses-part,.EA-link-statuses-part {

display: inline-block;
/*background: url(images/edit_sprite.png);
width: 32px;
height: 32px;*/
margin-right: 3px;

}
.EA-menu-part-extra {
background: url(images/edit_bg_sprite.png)left 12px no-repeat lightblue;
padding-left:60px;
position: relative;
border: 1px solid lightblue;
}
.EA-menu-part-menu-data-wrp {
background: url(images/edit_bg_sprite.png)left -113px no-repeat lightblue;
padding-left:60px;
position: relative;
border: 1px solid lightblue;

}
.EA-node-statuses-part-status.EA-on {
background-position: -3px -111px;
}
.EA-node-statuses-part-status.EA-off {
background-position: -3px -144px;
}
.EA-node-statuses-part-promote.EA-on {
background-position: -46px 0px;
}
.EA-node-statuses-part-promote.EA-off {
background-position: -45px -37px;
}
.EA-node-statuses-part-sticky.EA-on {
background-position: -96px 0px;
}
.EA-node-statuses-part-sticky.EA-off {
background-position: -96px -35px;
}
.EA-dataClass-data-hidden.EA-on {
background-position: -3px -144px;
}
/*.EA-dataClass-data-hidden.EA-off {
background-position: -3px -111px;
}
.EA-dataClass-data-expanded.EA-on {
background: url(images/expanded_new.png);
background-position: -2px -1px;
}*/
.EA-menus-parts,.EA-menus-parts ul {
list-style: none;
margin-top: 0px;
margin-bottom: 0px;
}
/*.EA-dataClass-data-expanded.EA-off {
background: url(images/expanded_new.png);
background-position: -2px -37px;
}*/
.EA-node.EA-node-c {
background: url(images/edit_sprite.png) 1px -39px no-repeat;
height: 32px;
width: 32px;
/*display: inline-block;*/
float:right;
text-align: center;
}
.EA-node-statuses-part-sticky, .EA-node-statuses-part-promote {
display: none;
}
.EA-menu-part:hover >.EA-menu-part-data-wrp .EA-node-statuses-part-sticky,
.EA-menu-part:hover >.EA-menu-part-data-wrp .EA-node-statuses-part-promote {
display: inline-block;
}
.EA-node.EA-node-author {
display: inline-block;
margin-left: 10px;
font-size: 12px;
}
admin-menu-part-link-path {
height: 27px;
float: left;
padding-top: 5px;
}
.EA-menu-part-link-path {
float: left;
}
.EA-vi {
background: url(images/edit_sprite.png);
width: 32px;
height: 32px;
display: inline-block;
background-position: -48px -144px;
cursor:pointer;
}
.EA-menu-part .EA-handle {
position: static;
display: inline-block;
float: left;
margin-right: 10px;
background-image: url(images/edit_sprite.png);
height: 32px;
width: 32px;
background-position: -90px -148px;
opacity: 1;
margin-top: 7px;
}
.EA-menu-part .EA-handle.EA-hidden{display:none;}
.EA-panel-placeholder {
width: 400px;
height: 70px;
background: wheat;
border-radius: 10px;
margin-left:50px;
}
.ui-nestedSortable-error{background:red}
.EA-menu-part-hidden .EA-menu-part-not-expanded ul,
.EA-menu-part-hidden .EA-menu-part-hidden ul,
.EA-menu-part-hidden .EA-menu-part-hidden,
.EA-menu-part-not-expanded .EA-menu-part-hidden,
.EA-menu-part-not-expanded .EA-menu-part-not-expanded ul,
.EA-menu-part-not-expanded .EA-menu-part-hidden  ul{opacity:1}
.EA-handles-wrp.clearfix {
float: left;
width: 30px;
}
.EA-handle.EA-plus{
height: 40px;
width: 40px;
}
.EA-handle.EA-plus.hiding {
background-position: 86px -109px;
}
.EA-handle.EA-plus.showing {
background-position: 43px -107px;
}
.EA-panel-arrow-out,.open .EA-panel-arrow-in {
display: none;
}
.EA-panel-arrow-in,.open .EA-panel-arrow-out {
display: block;
}
.EA-panel-arrow {
position: absolute;
top: 75px;
left: -31px;
cursor: pointer;
background: white;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
padding: 5px;
width: 28px;
}
.EA-panel-arrow-out,.EA-panel-arrow-in {
	background: url(images/panel_in.png);
	width: 24px;
	height: 24px;
	float:left;
	}
.EA-panel-arrow-out {
	background: url(images/panel_out.png);
	}
up_up_up {
z-index: 601;
}
.view-easy-admin-find-nodes td {
border: 1px solid;
padding: 5px;
text-align: center;
}
.views-field.views-field-title, .views-field.views-field-body {
padding-bottom: 10px;
}
.view-easy-admin-find-nodes .views-field.views-field-body {
color: lightgrey;
}
.EA-data-wrp{
border: 1px solid transparent;
}
.EA-data-wrp.EA-stat-changed {
border-color: orange;
}
#EA-menu-edit-all ul.EA-menus-parts{margin-left:22px;}
#EA-menu-edit-all ul.EA-menus-parts ul.EA-menus-parts{padding-left:28px;}
.EA-data-wrp input {
border: 1px solid transparent;
background: transparent;
outline: 0;
}
.EA-link-toggle{cursor:pointer;}
.EA-data-wrp input:hover {
border: 1px solid black;
}
.span-input-wrp .span-input,.span-input-wrp .span-input-input{font-size:18px;font-weight:bold;max-width:300px;display: inline-block;overflow: hidden}
.EA-off .EA-off-text, .EA-on .EA-on-text {display: inline;}
.EA-off .EA-on-text, .EA-on .EA-off-text {display: none;}
.EA-action-bar .icon-undo.EA-icon {
padding: 0px 4px;
display: inline-block;
visibility: hidden;
height: 20px;
vertical-align: top;
}
/*.icon-undo {
width: 17px;
height: 19px;
padding: 0;
text-align: center;
display:none;
}*/
.EA-stat-added .icon-undo.EA-icon,
.EA-stat-changed .icon-undo.EA-icon,
.EA-stat-deleted .icon-undo.EA-icon{
visibility: visible;
}
.icon{font-size:20px;margin-right: 10px;}
.EA-on .icon {color: green;}
.EA-off .icon {color: red;}
.EA-on .icon-check {color: red;}
.EA-off .icon-check {color: green;}
.EA-on .icon-check:before {content:"\f05e";}
.EA-menu-part h3{padding:0px 2px 8px;border:0;max-width:inherit}
.EA-menu-part .EA-handle.icon {
margin: 0;
padding: 0;
background: transparent;
font-size: 20px;
width: inherit;
height: inherit;
}
.EA-menu-part .EA-handle.icon-minus-sign-alt {
padding-left: 2px;
padding-top: 7px;
font-size: 22px;
}
.icon-minus-sign-alt.hiding:before{  content: "\f0fe";}
.EA-action-bar {position: absolute;top: 0px;left: 0px;font-size: 14px;color: white;padding: 2px;border-radius: 3px;}
.EA-action-bar .EA-icon {padding: 2px 4px;background: brown;border-radius: 5px;margin: 0px 1px;color: white;cursor:pointer;}
/*.EA-save-all {z-index: 10000;position: fixed;bottom: 6px;right: 20px;background: green;color: wheat;padding: 3px;border-radius: 2px;display: none;cursor: pointer;}*/
.EA-menu-part-menu-data-wrp.EA-stat-deleted, .EA-menu-part-extra.EA-stat-deleted{}
.EA-stat-deleted {border-color: red;}
.context-menu-item.icon {
display: inline-block;
width: inherit;
height: inherit;
line-height: normal;
vertical-align: inherit;
margin-top: 0;
font-family: inherit;
font-size:12px;
display:block;
}
.EA-message li {
font-size: 12px;
padding: 2px 0px;
}
.EA-stat-added {
border-color: green;
}
.EA-views-pages-desc {
font-size: 10px;
}
.EA-menu-part h3 >div {
display: inline-block;
}
#EA-comments-window {
overflow: scroll;
}
.EA-comment.EA-comment-name, .EA-comment.EA-comment-title {
display: inline-block;
padding-left: 10px;
}
.EA-comment.EA-comment-name {
font-size: 16px;
}
.EA-comment.EA-comment-statuses>div {
display: inline-block;
padding-left: 12px;
}
.EA-data-wrp.EA-comment {
background: lightgreen;
padding: 10px;
margin-bottom: 6px;
position:relative;
}
.EA-data-wrp.EA-comment.unpublished {
background: pink;
}

.EA-comment .EA-action-bar {
right: 5px;
left: inherit;
}
.EA-node.icon-comments {
margin-top: 4px;
}
.EA-node.icon-comments a {
color: black;
}
.EA-node.icon-comments a .approved {
color: green;
}
.EA-node.icon-comments a .unapproved {
color: red;
}
.EA-panel-bottom-buttons {
position: fixed;
min-height: 6px;
background: #3FCD00;
width: 100%;
z-index: 10000;
bottom: 0px;
text-align: center;
padding-left:10px;
opacity: 0.3;
}
.EA-panel-bottom-buttons:hover{opacity: 1;}
.EA-panel-bottom-button {
color: white;
padding: 12px;
}
.EA-panel-bottom-button,
.EA-panel-bottom-button:hover
 {
color: black;
font-size: 20px;
text-decoration:none;
}
.EA-icon {
padding-right: 10px;
color: #FF0033;
}
.EA-menu-edit {
position: relative;
}
.EA-break-word{
word-break:break-all;
display: inline-block;
max-width:200px;	
}
.EA-panel-bottom-button .EA-icon {
padding-left: 7px;
}
.EA-save-all{display:none;}